*_manifest.rc
*.embed.manifest
*.idb
*.intermediate.manifest
*.ipch
*.lastbuildstate
*.log
*.ncb
*.obj
*.opensdf
*.pch
*.pdb
*.res
*.rsp
*.sdf
*.suo
*.tlog
*.unsuccessfulbuild
*.user
*.VC.db
*.VC.opendb
*.vcxproj.user
*.vcxprojResolveAssemblyReference.cache

/Debug/*

/Release/*

/x64_Debug/*

/x64_Release/*

BuildLog.htm
dte80a.tlh
mt.dep
