*_manifest.rc
*.embed.manifest
*.idb
*.intermediate.manifest
*.ipch
*.lastbuildstate
*.log
*.obj
*.opensdf
*.pch
*.pdb
*.res
*.sdf
*.suo
dte80a.tlh
*.tlog
*.unsuccessfulbuild
*.VC.db
*.VC.opendb
*.vcxproj.user
*.vcxprojResolveAssemblyReference.cache

/Debug/*

/Release/*

/x64_Debug/*

/x64_Release/*
